@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");

.blocentier {
  margin-left: 7.8%;
  font-size: 50%;
}
.textn1 {
  margin: 0;
}
.p {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
    0 0 3px rgba(255, 255, 255, 0.3);
}
.container {
  font-family: Mulish;
  color: #e5e5e5;
  font-size: 2.26rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  margin-left: -53%;
  margin-top: -20%;
  font-family: Mulish;
  font-weight: 700;
}

.animation {
  height: 63px;

  overflow: hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  /* height: 2.81rem; */
  height: 55px;
  text-align: center;

  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 10s infinite;
}

.first div {
  border-radius: 15px;
  background-color: #00c3fe;
}

.first div:hover {
  box-shadow: 0 0 11px #00c3fe(33, 33, 33, 0.2);
}

.second div {
  border-radius: 15px;
  background-color: #fcb600;
}

.second div:hover {
}

.third div {
  border-radius: 15px;
  background-color: #ff172e;
}

.third div:hover {
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
