.headerbloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageprofil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.cardsspecial {
  display: flex;
  transition: 0.5s;
}
.cards1 {
  display: flex;
  transition: 0.5s;
}

.cards2 {
  display: flex;
  transition: 0.5s;
}

.cards3 {
  display: flex;
  transition: 0.5s;
}

.titre1 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: Mulish;
  font-size: 35px;
  padding: 2%;
  transition: 0.5s;
}

.banners {
  flex-direction: row-reverse;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  transition: 0.5s;
}

.modalinfo {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 4%;
  font-size: 25px;
  transition: 0.5s;
}

@media (min-width: 1920px) {
  .modalinfo {
    max-width: 50%;
    transform: scale(1.2);
  }
}

@media (min-width: 600px) {
  .modalinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 0 auto;
    width: 100%;
    transform: scale(1);
  }
}

@media (min-width: 425px) {
  .titre2 {
    display: none;
  }
}

/* 1440 pixels*/

@media only screen and (max-width: 1440px) {
  .modalinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 0 auto;
    width: 80vh;
    transform: scale(1);
  }
}

/* 768 pixels*/

@media only screen and (max-width: 768px) {
  .modalinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 0 auto;
    width: 75vh;
    transform: scale(1);
  }
}

/* 425 pixels*/

@media only screen and (max-width: 425px) {
  .imageprofil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-top: 15%;
  }

  .titre1 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: Mulish;
    font-size: 20px;
    transform: scale(1.05);
    margin-left: 50%;
    width: 100%;
    padding: 15%;
  }
  .banners {
    display: flex;
    transform: scale(0.9);
    margin-left: 50%;
  }
  .modalinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 0 auto;
    width: 72vh;
    transform: scale(1);
  }

  .cards {
    transform: scale(1);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    align-self: center;
  }

  .cardsspecial {
    margin-left: 50%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
  }
}

/* 414 pixels*/

@media only screen and (max-width: 414px) {
  .imageprofil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 90%;
    margin-top: 15%;
  }

  .titre1 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: Mulish;
    font-size: 30px;
    transform: scale(1.05);
    margin-left: 90%;
    width: 100%;
    padding: 15%;
  }
  .banners {
    display: flex;
    transform: scale(0.9);
    margin-left: 85%;
  }
  .modalinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 0 auto;
    width: 70vh;
    margin-left: 15.5%;
  }

  .cards1 {
    display: flex;
    margin: 0 auto;
    margin-left: 12.5%;
    justify-content: center;
    align-items: center;
  }

  .cards2 {
    display: flex;
    margin: 0 auto;
    margin-left: 12.5%;
    justify-content: center;
    align-items: center;
  }

  .cards3 {
    display: flex;
    margin: 0 auto;
    margin-left: 12.5%;
    justify-content: center;
    align-items: center;
  }

  .cardsspecial {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    margin-left: 90%;
  }
}

/* 390 pixels*/

@media only screen and (max-width: 390px) {
  .imageprofil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 90%;
    margin-top: 15%;
  }

  .titre1 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: Mulish;
    font-size: 30px;
    transform: scale(1.05);
    margin-left: 90%;
    width: 100%;
    padding: 15%;
  }
  .banners {
    display: flex;
    transform: scale(0.9);
    margin-left: 85%;
  }
  .modalinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 0 auto;
    width: 76vh;
    margin-left: 18.5%;
  }

  .cards1 {
    display: flex;
    margin: 0 auto;
    margin-left: 12.5%;
    justify-content: center;
    align-items: center;
  }

  .cards2 {
    display: flex;
    margin: 0 auto;
    margin-left: 12.5%;
    justify-content: center;
    align-items: center;
  }

  .cards3 {
    display: flex;
    margin: 0 auto;
    margin-left: 12.5%;
    justify-content: center;
    align-items: center;
  }

  .cardsspecial {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    margin-left: 90%;
  }
}

/* 375 pixels*/

@media only screen and (max-width: 375px) {
  .imageprofil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 75%;
    margin-top: 15%;
  }

  .titre1 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: Mulish;
    font-size: 30px;
    transform: scale(1.05);
    margin-left: 75%;
    width: 100%;
    padding: 15%;
  }
  .banners {
    display: flex;
    transform: scale(0.9);
    margin-left: 70%;
  }
  .modalinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 0 auto;
    width: 72vh;
    transform: scale(1);
  }

  .cards {
    transform: scale(1);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    align-self: center;
  }

  .cardsspecial {
    margin-left: 75%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
  }
}

/* 320 pixels*/

@media only screen and (max-width: 320px) {
  .imageprofil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100%;
    margin-top: 15%;
  }

  .titre1 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: Mulish;
    font-size: 30px;
    transform: scale(1.05);
    margin-left: 100%;
    width: 100%;
    padding: 15%;
  }
  .banners {
    display: flex;
    transform: scale(0.9);
    margin-left: 100%;
  }
  .modalinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 0 auto;
    width: 72vh;
    transform: scale(1);
  }

  .cards {
    transform: scale(1);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    align-self: center;
  }

  .cardsspecial {
    margin-left: 110%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
  }
}
