.p {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
    0 0 3px rgba(255, 255, 255, 0.3);
}
.container {
  color: #ffffff;
  font-size: 2.26rem;
  font-family: Mulish;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.5s;
}

.animation {
  height: 50px;
  overflow: hidden;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  align-items: center;
  justify-content: center;
  background-color: #00c3fe;
}
.second div {
  align-items: center;
  justify-content: center;
  background-color: #fcb600;
}
.third div {
  background-color: #ff172e;
  align-items: center;
  justify-content: center;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.42rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

/* 425 pixel */

@media only screen and (max-width: 425px) {
  .container {
    display: none;
  }
}
